body {
    font-family: "Comic Neue", serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/*===============================
=           Button CSS          =
===============================*/
.task-create-actions .create-task-btn {
    background-color: #009d47;
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.task-create-actions .create-task-btn:hover {
    background-color: #007f3d;
}

.task-actions .save-task-btn {
    display: none;
    background-color: #009d47;
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.task-actions .save-task-btn:hover {
    background-color: #007f3d;
}

.task-footer button.edit-task-btn {
    background-color: #219fc9;
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    margin: 3px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.task-footer button.edit-task-btn:hover {
    background-color: #0077b6;
}

.task-footer button.delete-task-btn {
    background-color: #ff0000;
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    margin: 3px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.task-footer button.delete-task-btn:hover {
    background-color: #d40000;
}

/*===============================
=           Header CSS          =
===============================*/
.header-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    box-shadow: ;
}

.search-box input[type="text"] {
    font-family: "Comic Neue", serif;
    height: 30px;
    padding: 3px 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline : none;
    font-size: 14px;
}

.search-box button.search-btn {
    background-color: #0082df;
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.add-new-task button.add-task-btn {
    background-color: #ffd500;
    color: #202020;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.left-nav-container a {
    text-decoration: none;
    color: #fff;
}
.right-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

/*===============================
=           Main CSS            =
===============================*/
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 15px;
    margin: 20px;
}

.task-list-container {
    width: 35%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 12px;
}

.task-list-container .task-list-header h2 {
    color: #626262;
    font-size: 0.8em;
    margin: 0;
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
}

.task-list {
    height: 450px;
    margin-top: 10px;
    overflow: auto;
}
.task-list::-webkit-scrollbar {
    display: none;
}

.task-list a {
    text-decoration: none;
    color: #626262;
}

.task-list .task-item {
    background-color: #fffdd3;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 1px 3px 5px #d8d8d8;
    cursor: pointer;
}

.task-list .task-item[active] {
    border-left: 4px solid #219fc9;
}

.task-list .task-item .task-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.task-list .task-item .task-description {
    font-size: 14px;
    margin: 5px 0;
}


.task-view-container {
    width: 65%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 12px;
}

.task-create-container {
    width: 65%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 12px;
    display: none;
}

.task-view-container .task-view-header h2,
.task-create-container .task-create-header h2 {
    color: #626262;
    font-size: 0.8em;
    margin: 0;
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
}

.task-create-item .task-create-title {
    background-color: #fffde1;
    outline: none;
    border: none;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.task-view-item .task-title {
    font-family: "Comic Neue", serif;
    background-color: #fffde1;
    color: #151515;
    font-size: 1.1em;
    outline: none;
    border: none;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.task-view-item .task-description {
    font-family: "Comic Neue", serif;
    color: #151515;
    font-size: 0.9em;
    box-sizing: border-box;
    resize: none;
    outline: none;
    border: none;
    width: 100%;
    height: 350px;
    padding: 20px 15px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
    overflow: auto;
}
.task-create-item .task-create-description {
    font-family: "Comic Neue", serif;
    box-sizing: border-box;
    resize: none;
    outline: none;
    border: none;
    width: 100%;
    height: 340px;
    padding: 20px 15px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
    overflow: auto;
}
.task-view-item .task-description::-webkit-scrollbar,
.task-create-item .task-create-description::-webkit-scrollbar {
    display: none;
}

.task-view-item .task-description p {
    font-size: 16px;
    margin: 0;
}

.task-view-item .task-extra-info {
    font-size: 0.8em;
    color: #626262;
    margin: 10px 5px;
}
.task-extra-info span {
    background-color: #d6d6d6;
    color: #202020;
    padding: 5px;
    border-radius: 50%;
}

.task-view-item .task-footer,
.task-create-item .task-create-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
}

.task-footer .task-date-time,
.task-create-footer .task-date-time {
    font-size: 0.7em;
    color: #626262;
}

@media screen and (max-width: 480px) {
    .search-box input[type="text"] {
        width: 70px;
    }
}

@media screen and (min-width: 892px) {
    .task-list-container {
        width: 290px;
    }
    .task-view-container,
    .task-create-container {
        width: 530px;
    }
}